body{
background-color:#6a009e;	
	
	
}
div{
height:1250px;	
width:900px;
background-color:#19173b;
margin-left:470px;
border:3px dotted white;
}
p{
color:white;	
display:inline;
font-size:18px;
}
.first{
color:white;		
	
}
.second{
color:#8cb8ff;
font-family:Monotype Corsiva;	
}
.third{
color:#b242fc	
	
}
.fourth{
color:#b3ffd7;	
	
}
.fifth{
color:#69ffb0;	
	
}
.sixth{
color:#003d1d;	
	
}
.seventh{
color:#660002	
	
}
.eighth{
color:color-mix(in srgb, #ffebb8 100%, white);	
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.ninth{
color:color-mix(in srgb, #a600ff 50%, #E7C8DD);	
	
}
.tenth{
color:color-mix(in srgb, #007bff 25%, #6bb3ff);			

}
.eleventh{
color:#c5c756;	
	
}
.twelth{
color:color-mix(in srgb, #c5c756 75%, white);		
	
}
.thirteenth{
color:color-mix(in srgb, #5e6cff 60%, white);	

}
.fourteenth{
color:#0099ff;
	
}
.fifteenth{
color:color-mix(in srgb, #ff8800 60%, #a15600);	
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;	
}
.sixteenth{
color:color-mix(in srgb, #5f0096 25%, #ce52ff);		

}
.seventeeth{
color:color-mix(in srgb, #cf2900 60%, #610000);		

}
.eighteenth{
color:#07f51b;		
}
.nineteenth{
color:#575757;	
}
.twentyth{
color:#363434;	
	
}
.twentyoneth{
color:#42fc42;
}
.twentytwo{
color:#999999;	
}
.twentythree{
color:#b8ffbb;	
}
.twentyfour{
color:#4757ff;	
}
.twentyfive{
color:#d9000e;
  font-family: "Tilt Prism", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

}
.twentysix{
color:#5910e0;
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.twentyseven{
color:#94afe3;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
.twentyeight{
color:white;
 font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;	
}
.twentynine{
color:#3a5b9c;
	
}
.thirty{
color:#00471a;
}
.thirtyone{
color:#393b3a;	
font-family: "Foldit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	
}
.thirtytwo{
color:color-mix(in srgb, black 40%, blue);
	
}
.thirtythree{
color:#f7a42f;
 font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;	
}
.thirtyfour{
color:#deb41b;
font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;	
}
.thirtyfive{
color:#9948c2;	
}
.thirtysix{
color:red;
	
}
.thirtyseven{
color : #ff8985;	
}
.thirtyeight{
color:#213b6b;	
}
.thirtynine{
color:#4d89f7;	
}
.forty{
color:#b049f5;	
}
.fortyone{
color:#e3e68c;	
}
.fortytwo{
color:#6e218f;
	
}
.fortythree{
color:#d166ff;
font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;	
}
.fortyfour{
color:#233e82;	
}
.fortyfive{
color:#c071eb;	
}
.fortysix{
color:#7200b0;
}
.fortyseven{
color:#f52079;	
}
.fortyeight{
color:white;	
}
.fortynine{
color:#2b4f1b;	
}
.fifty{
color:#051ceb;
}
.fiftyone{
color:#4d2173;
}
.fiftytwo{
color:#590600;
}
.fiftythree{
color:cyan;	
}
.fiftyfour{
color:pink	
}
.fiftyfive
.fiftysix
.fiftyseven
.fiftyeight
.fiftynine
.sixty




